create-a-simple-api-endpoint-.json
{
  "createdAt": "2025-06-13T13:27:37.605Z",
  "updatedAt": "2025-06-16T14:52:41.000Z",
  "id": "MgV0ExUet3ysjHvb",
  "name": "create a simple API endpoint",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "6f7b288e-1efe-4504-a6fd-660931327269",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1bd6db4-bd5a-4268-89df-971c1baf7080",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -240,
        -40
      ],
      "webhookId": "6f7b288e-1efe-4504-a6fd-660931327269",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create a simple API endpoint\n\nIn this workflow we show how to create a simple API endpoint with `Webhook` and `Respond to Webhook` nodes\n\n",
        "height": 280,
        "width": 600
      },
      "id": "6774f5f2-decb-4d32-ae8d-e570ae4bc41c",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=The URL of the Google search query for the term \"{{$node[\"Webhook\"].json[\"query\"][\"first_name\"]}} {{$node[\"Webhook\"].json[\"query\"][\"last_name\"]}}\" is: {{$json[\"product\"]}}",
        "options": {}
      },
      "id": "073ed87a-009d-4230-8bd3-7c7d8e51a984",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        200,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "product",
              "value": "=https://www.google.com/search?q={{$json[\"query\"][\"first_name\"]}}+{{$json[\"query\"][\"last_name\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac92d58c-a0f9-47f6-b3b3-d89cad5a2d75",
      "name": "Create URL string",
      "type": "n8n-nodes-base.set",
      "position": [
        -20,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### How to use it\n1. Execute the workflow so that the webhook starts listening\n2. Make a test request by pasting, **in a new browser tab**, the test URL from the `Webhook` node and appending the following test at the end `?first_name=bob&last_name=dylan`\n\nYou will receive the following output in the new tab `The URL of the Google search query for the term \"bob dylan\" is: https://www.google.com/search?q=bob+dylan`\n\n",
        "height": 220,
        "width": 600
      },
      "id": "cc499069-28d6-4d83-8cdd-a0ee6731f38f",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        120
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create URL string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create URL string": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a2978a19-141a-4ea3-b8b0-e4466ae1e394",
  "triggerCount": 0,
  "tags": []
}