workflow-1-1-.json
{
  "createdAt": "2025-05-15T10:07:54.645Z",
  "updatedAt": "2025-05-15T12:36:32.000Z",
  "id": "TMbEChbS44Yo6TkI",
  "name": "Workflow 1-1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -20
      ],
      "id": "67a4e6ef-1207-4498-8d43-24f16ca69165",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appZ25XQhMpvGZT7T",
          "mode": "list",
          "cachedResultName": "n8n Base",
          "cachedResultUrl": "https://airtable.com/appZ25XQhMpvGZT7T"
        },
        "table": {
          "__rl": true,
          "value": "tbl9N1L5R6dllFkfG",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appZ25XQhMpvGZT7T/tbl9N1L5R6dllFkfG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -140,
        -20
      ],
      "id": "bf73950d-f43b-4915-b34f-bbe2720cd1e5",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "sUk8b7mzHi2fGtOn",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        160
      ],
      "id": "e2e03fb3-1557-4e1c-8ce9-ca7316e83335",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        80,
        -20
      ],
      "id": "444b838a-1efa-4e7e-8cb7-0e632850e620",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appZ25XQhMpvGZT7T",
          "mode": "list",
          "cachedResultName": "n8n Base",
          "cachedResultUrl": "https://airtable.com/appZ25XQhMpvGZT7T"
        },
        "table": {
          "__rl": true,
          "value": "tbl9N1L5R6dllFkfG",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appZ25XQhMpvGZT7T/tbl9N1L5R6dllFkfG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customerID": "={{ $json.customerID }}",
            "id": "={{ $json.id }}",
            "customerCountry": "={{ $json.customerCountry }}",
            "customerSince": "={{ $json.customerSince }}",
            "customerEmail": "={{ $json.customerEmail }}",
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        -20
      ],
      "id": "d7b23c00-0dbc-411e-bad0-fe04fc9c8169",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "sUk8b7mzHi2fGtOn",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75b22c23-e650-42e3-8299-ac1bc9a28271",
  "triggerCount": 0,
  "tags": []
}